/* ===========================
   Base
   =========================== */

body {
 	// @include horizontal-gradient(#ECE9E6, #FFFFFF);
 	background-color: #fff;
	color: $navy;
	font-family: $verdana;
}
h1{
	text-align: center;
	font-size: $font-size-x-large;
	font-weight: $font-weight-bold;
}
h2{
	text-align: center;
	font-size: $font-size-large;
	font-weight: $font-weight-bold;
}
