/* ===========================
   Style Guide
   =========================== */

// grid
.column-example{
	background-color: #4a6785;
	color: white;
	margin-top: 15px;
	font-size: $font-size-small;
	height: 4em;
	text-align: center;
	line-height: 4em;
	overflow: hidden;
}
